Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Markdown==3.3.4
MarkupSafe==2.0.1
numpy==1.19.5
opencv-python==4.5.3.56
requests==2.25.1
requests-oauthlib==1.3.0
SQLAlchemy==1.4.22
termcolor==1.1.0
tokenizers==0.10.2
urllib3==1.26.4
virtualenv==20.7.0
Werkzeug==2.0.1
wrapt==1.12.1
gunicorn==20.1.0
